<form id="update-form" enctype="multipart/form-data">
    <input type="hidden" name="method" value="put" />
    <input type="hidden" name="id" id="product-id" />
    <img width="200" height="100" />
    <br />
    <label for="name">Name </label>
    <input id="name" name="name" type="text" />
    <br />
    <label for="description">Description </label>
    <textarea id="description" name="description"></textarea>
    <br />
    <label for="category">Category</label>
    <select id="category" name="categoryid">
        <option id=""></option>
    </select>
    <br />
    <label for="image-file">Image </label>
    <input id="image-file" name="image-file" type="file" />
    <br />
    <input id="cancel-update" type="button" value="Cancel" />
    <input type="submit" value="Update" />
</form>