<form enctype="application/x-www-form-urlencoded">
    <label for="name">Name </label>
    <input id="name" type="text" />
    <br />
    <label for="description">Description </label>
    <textarea id="description" />
    <br />
    <label for="category">Category</label>
    <select id="category">
        <option id="0"> </option>
        <option id="1">Category 1</option>
    </select>
    <br />
    <label for="image">Image </label>
    <input id="image" type="file"/>
    <input type="submit" value="Create" />
</form>